---
title: Investigating Open Source
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           <h1>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <% page_articles.each_with_index do |article, i| %>
          <h2><%= link_to article.title, article %></h2>
        <% end %>
      </div>
    </div>
  </div>
</section>