<h1>Summary</h1>

<div class="card">
  <h2>The Carnivalesque of Open Source Code</h2>
  <p>The theory of the carnivalesque can guide how we understand conflicts, merges, enabling appropriate space for difference and when to spot problems</p>
</div>
<p></p>


Help us understand how we build products in the open